* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* flex box that includes head1 and navigation menu as children */
.top1 {
  background: black;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* heading Anum-Profile --child of top1*/
.head1 {
  background-color: turquoise;
  text-wrap: nowrap;
}

/* child of top1 */
.navigation {
  flex-basis: 50%;

}

.items {
  color: turquoise;
}
a:link, a:visited {
  color: turquoise;
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.items hr,
.contactme-list-items hr {
  padding: .25px;
  background-color:aqua;
}

.top2 {
  background-image: url(./images/02-hero-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 200px;
  max-height: 200vh;
  position: relative;
}
.top2 p {
  position: absolute;
  color: black;
  font-size: 25px;
  bottom: 1rem;
  right: 2em;
  text-wrap: nowrap;
  background-color: turquoise;
}

/* flex box defined for all three sections */
.all-sections {
  display: flex;
  flex-direction: column;
  margin: 50px;
  min-height: 45vh;
  justify-content: space-between;
  gap: 2em;
}

/* flex box for about-me, work and contact-me section*/
.about-me, .work, .contact-me {
  display: flex;
  flex-direction: row;
}


/* vertical line on each section */
.vl {
  border-left: 2.5px solid black;
  height: 100%;
}


/* 3rd child of flex box .work */
.work-child:nth-child(3) {

  flex: 1;
  min-height: 100%;
}

.left {
  min-width: 7em;
}

/* grid defined inside the second section<<work>> */
.workchild-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    "workchild-grid-item1 workchild-grid-item1"
    "workchild-grid-item2 workchild-grid-item3"
    "workchild-grid-item4 workchild-grid-item5"
}

#workchild-grid-item1 {
  grid-area: workchild-grid-item1;
  background-image: url(./images/02-portfolio-1.jpg);
  min-height: 25vh;
  max-width: 100%;
}

#workchild-grid-item2 {
  grid-area: workchild-grid-item2;
  background-image: url(./images/02-portfolio-2.jpg);

}

#workchild-grid-item3 {
  grid-area: workchild-grid-item3;
  background-image: url(./images/02-portfolio-3.jpg);

}

#workchild-grid-item4 {
  grid-area: workchild-grid-item4;
  background-image: url(./images/02-portfolio-4.jpg);

}

#workchild-grid-item5 {
  grid-area: workchild-grid-item5;
  background-image: url(./images/02-run-buddy.jpg);

}

.workchild-grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-color: turquoise;
  border: 2px solid turquoise;
  position: relative;
  max-width: 100%;

}

/* css for text on each grid item*/
.bottomleft {
  position: absolute;
  bottom: 1rem;
  background-color: turquoise;
  min-height: 2.5rem;

}

/* brightness change when mouse is hovered on each grid item */
.workchild-grid-area:hover {
  -webkit-filter: brightness(125%);
}


.contactme-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
  align-items: end;
  flex-wrap: wrap;
}

.right {
  margin-left: 1em;
}

.menu {
  width: 100%;
}

.contactme-list {
  padding-left: 0px;
}

/* media query to adapt to different screen sizes */
@media (max-width: 431px) {
  .all-sections {
    margin: 15px;
  }

  .about-me, .work, .contact-me, .top1 {
    display: flex;
    flex-direction: column;
    gap: .5em;

  }

  .aboutme-child:nth-child(1), .contactme-child:nth-child(1) {
    border-bottom: 3px solid black;
    align-self: center;
  }

  .work-child:nth-child(1) {
    border-bottom: 3px solid black;
    align-self: center;
    text-align: center;
  
  }

  .contactme-child:nth-child(3) {
    margin: 0px;
  }

  .contactme-list {
    display: flex;
    flex-direction: column;
    height: 8em;
    align-items: center;

  }

  .list {
    gap: 1em;
    padding: 0px;
  }

}