*{
    margin:0;
}
.head1{
  background:black;
  height:10vh;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;

}
h1{
  background:turquoise;
/*   flex-basis:40%; */
}
.navigation{
  flex-basis:40%
}
.items{
color:turquoise;
}
.list{
  list-style:none;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}
.items hr{
  padding:.25px;
  background:turquoise;
}
  
.top2{
    background-image: url(./images/02-hero-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height:200px;
    max-height: 200vh;
}

.all-sections{
    display:flex;
    flex-direction:column;
    background-color:pink;
    min-height:500px;
  }
  .section-item{
  margin:3px; 
  background-color:grey;
  }
  .about-me{
    display:flex;
    flex-direction:row;
    gap:2rem;
  }
  /* .about-me div{
    
   background-color:yellow; 
  } */
  
  .vl {
    border-left: 2px solid black;
  }