*{
   box-sizing: border-box; 
  margin:0;
}
body {
  padding: 0; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top1{
  background:black;
  height:10vh;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
}
.head1{
  background-color: turquoise;
  text-wrap:nowrap;
}

.navigation{
  flex-basis:50%;
   
}
.items{
color:turquoise;
}

.list{
  list-style:none;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  
}
.items hr, .contactme-list-items hr{
  padding:.25px;
  background:turquoise;
}
  
.top2{
    background-image: url(./images/02-hero-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height:200px;
    max-height: 200vh;
}

.all-sections{
    display:flex;
    flex-direction:column;
    /* background-color:pink;   */
    margin: 50px; 
    min-height:40em;
    justify-content: space-between;
    gap:2em;
  }
  .about-me{
    display:flex;
    flex-direction:row;
  }
  
  .vl {
    border-left: 2.5px solid black;
    height: 100%;
  }
  .work{
    display:flex;
    flex-direction:row;
  }
  
  .work-child:nth-child(3){
    
    flex: 1; 
    min-height: 100%;
  }
  .left{
    min-width: 7em;
  }

  .workchild-grid{
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: 
    "SurfReport SurfReport"
    "LEDWall Calculator"
    "PastelPuzzels RunBuddy"
  }
  #workchild-grid-item1{
    grid-area: SurfReport;
    background-image: url(./images/02-portfolio-1.jpg);
    min-height: 25vh;
  }
  #workchild-grid-item2{
    grid-area: LEDWall;
    background-image: url(./images/02-portfolio-2.jpg);
    
  }
  #workchild-grid-item3{
    grid-area: Calculator;
    background-image: url(./images/02-portfolio-3.jpg);
    
  }
  #workchild-grid-item4{
    grid-area: PastelPuzzels;
    background-image: url(./images/02-portfolio-4.jpg);
    
  }
  #workchild-grid-item5{
    grid-area: RunBuddy;
    background-image: url(./images/02-run-buddy.jpg);
    
  }
  .workchild-grid-area{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-color: turquoise;
    border:2px solid turquoise;
    position: relative;

  }
  .bottomleft {
    position: absolute;
    bottom: 1rem;
    background-color: turquoise;
    min-height: 2.5rem;
    
  }
  .workchild-grid-area:hover{
    -webkit-filter:brightness(125%);
  }
  .contact-me{
    display:flex;
    flex-direction:row;
  }

  .contactme-list{
    display: flex;
    list-style:none;
    flex-direction:row;
    justify-content:space-between;
    height: 2.5rem;
    align-items: end;
    flex-wrap: wrap;
  }

  .right{
    margin-left: 1em;
  }
  .menu{
     width: 100%; 
  }
   @media (max-width: 431px) {
    .all-sections{
      margin: 25px;
    }
    .about-me{
    display:flex;
    flex-direction:column;
  
}
  .aboutme-child:nth-child(1){
    margin: 12px; 
  }


    .work{
      display:flex;
    flex-direction:column;
  
}
.work-child:nth-child(1){
  margin: 12px; 
}
    .contact-me{
      display:flex;
    flex-direction:column;
    }
    .contactme-child:nth-child(1){
      margin: 12px; 
    }
    .contactme-child:nth-child(3){
      margin: 0px;
    }

  }
  